.visualization-container{
  /* background-color: blue; */
  width:100%; 
  overflow: scroll; 
  border-radius: 8px;
}
.visualization{
  background-color: #262C33;
  width: 2000%; 
  height: 100px; 
  position: relative; 
}

.example{
  width: 100px; 
  height: 100%; 
  position: absolute; 
  background-color: #F6A513;
  border: 3px solid #1b2025; 
  padding: .5em; 
  opacity: .9;
  border-radius: 8px;
}
.example:hover{
  background-color: #0DC68A;
}

.indicator{
  position: absolute; 
  left: 0; 
  top: 50%;
  transform: translate(0, -50%); 
  color: white; 
}